body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  height: 100vh;
}

.container {
  width: 100vw;
  height: 100vh;
}

.conteudo{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main { 
  width: 80%;
  height: 100%;
  padding: 2rem 0 1.5rem;
  margin: 2rem 3rem;
  background-color: #FFF;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__titulo {
  text-align: center;
}

.campo {
  width: 80%;
  margin: 0.5rem;
}

label {
  width: 100%;
  display: block;
  margin: 0 auto;
  font-weight: 600;
}

input{
  display: block;

  border-radius: 5px;
  height: 2rem;
  width: 100%;
  margin: 0.5rem 0;

  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  font-size: 1rem;
}

.enviar {
  color: #FFF;
  border: none;
  font-size: 0.8rem;

  display: block;
  width: 6rem;
  height: 5rem;
  padding: 0.5rem;
  margin-bottom: 2rem;

  background-color: rgb(30, 30, 182);
  transition: 500ms;
  text-transform: uppercase;
}

.enviar:hover {
  background-color: blue;
}